.accordion {
  width: 400px;
  border: 2px solid cadetblue;
  padding: 20px;
  margin: 20px auto;
}
.acc-item {
  margin-bottom: 10px;
  border: 1px solid white;
  padding: 10px;
}
.accordion h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.accordion h2 span:last-child {
  cursor: pointer;
}
.accordion p {
  padding: 10px;
  background-color: cadetblue;
  margin: 5px;
}
